#tp_ajax_update.clearfix
  #tp_middle.clearfix
    #tp_pages
      = will_paginate @assets, :inner_window => 1, :outer_window => 0
  #tp_titles_holder
    - index = (list_params[:page].to_i - 1) * 25
    %table.tp_assets_list
      %thead
        %tr
          %th No.
          %th= sortable_column_head "File name", :title
          %th= sortable_column_head "File type", :asset_content_type
          %th File size
      %tbody#tp_assets
        - @assets.each do |asset|
          - index = index + 1
          %tr
            %td.index= index
            %td= link_to asset.title, asset.asset.url
            %td= asset.asset_content_type
            %td= number_to_human_size(asset.asset.size)
        -if @assets.empty?
          %tr
            %td.no_results{:colspan => 4} No results!