<div id="tp_ajax_update" class="clearfix">  
  <div class="clearfix">
    <div id="tp_pages">
      <%= will_paginate @assets, :inner_window => 1, :outer_window => 1 %>
    </div>
  </div>
  <div id="tp_titles_holder">
    <% index = (list_params[:page].to_i - 1) * 24 %>
    <table>
      <thead>
        <tr>
          <th>No.</th>
          <th><%= sortable_column_head("File Name", :title) %></th>
          <th><%= sortable_column_head("File Type", :asset_content_type) %></th>
          <th>File size</th>
        </tr>
      </thead>
      <tbody id="tp_assets">
        <% @assets.each do |asset| %>
          <% index = index + 1 %>
          <tr>
            <td class="index"><%= index %>.</td>
            <td><%= link_to asset.title, asset.asset.url %></td>
            <td><%= asset.asset_content_type %></td>
            <td><%= number_to_human_size(asset.asset.size) %></td>
          </tr>
        <% end -%>
      </tbody>
    </table>
  </div>
</div>