#ajax_update.clearfix
  #middle.clearfix
    #pagination
      = will_paginate @assets, :inner_window => 1, :outer_window => 0
    #ddl.clearfix
      #view_mode
        - form_tag({}, {:id => "view_mode_form", :method => :get}) do
          = hidden_field_tag :page, '1'
          %label{:for => :view} View mode:
          = select_tag :view, options_for_select([["Text List", "text_list"], ["Thumbnails", "thumbnails"]],list_params[:view])
      #sort_dv
        - form_tag({}, {:id => "sort_form", :method => :get}) do
          = hidden_field_tag :sort_by, 'title'
          %label{:for => :sort_order} Sort by title:
          = select_tag :sort_order, options_for_select([["Ascending", "asc"], ["Descending", "desc"]],list_params[:sort_order])
  #titles_holder
    - index = (list_params[:page].to_i - 1) * 25
    %table#assets.assets_list
      %thead
        %tr
          %th No.
          %th Image title
          %th Image size
      %tbody
        - @assets.each do |asset|
          - index = index + 1
          %tr
            %td.index= index
            %td
              %a{:href => '#'} 
                = asset.title
              %span.image_sizes{:style => "display:none;"}
                = render :partial => 'images_sizes', :locals => {:asset => asset}
            %td= asset.width.to_s + 'px x ' + asset.height.to_s + 'px'
        -if @assets.empty?
          %tr
            %td.no_results{:colspan => 4} No results!