#tiny_paper
  #top.clearfix
    .left
      %ul.clearfix
        %li= link_to "Files", files_path, :class => "selected"
        %li= link_to "Pages", pages_path
      - form_tag({}, {:id => "filter_form", :method => :get}) do
        %table
          %tr
            %td
              %label{:for => 'title'} Filter
            %td
              #filter
                = text_field_tag :title, list_params[:title], :autocomplete => 'off'
                :javascript
                  new Form.Element.DelayedObserver('title', 0.4, function(element, value) {
                    when_starting();
                    new Ajax.Updater('ajax_update', '/admin/tiny_paper/files', {
                      asynchronous:true,
                      evalScripts:true,
                      method:'get',
                      onComplete: function(request){when_completing()},
                      parameters: 'title=' + escape(value) + '&page=1' + '&authenticity_token=' + encodeURIComponent('#{form_authenticity_token}')
                    })
                  })
                = reset_filters_tag
            %td
              %img{:id => "spinner", :style => "display:none",  :src => "/images/admin/spinner.gif", :alt => "loading"}
    .right
      = render :partial => "upload"
  
  = show_flash_message

  = render :partial => "files_titles"
  = hidden_field_tag(:type, 'files')