<div id="tp_top" class="clearfix">
  <% form_tag({}, {:id => "tp_filter", :method => :get}) do %>
  <table>
    <tr>
      <td><label for="title">Search:</label></td>
      <td>
        <div id="tp_tb">
          <%= text_field_tag :title, list_params[:title], :autocomplete => 'off' %>
              <script type="text/javascript">
              new Form.Element.DelayedObserver('title', 0.4, function(element, value) {
                when_starting();
                new Ajax.Updater('tp_ajax_update', '/admin/tiny_paper/files', {
                  asynchronous:true,
                  evalScripts:true,
                  method:'get',
                  onComplete: function(request){when_completing()},
                  parameters: 'title=' + escape(value) + '&authenticity_token=' + encodeURIComponent('<%= form_authenticity_token %>')
                })
              })  
              </script>
          <%= reset_filters_tag %>
        </div>
      </td>
      <td><img id="spinner" style="display:none" src="/images/admin/spinner.gif" alt="loading" /></td>
    </tr>
  </table>
  <% end -%>
</div><!-- div tp_top -->

<%= show_flash_message %>

<div id="tp_bd" class="clearfix">
  <div id="tp_sidebar">
    <%= render :partial => "upload" %>
  </div>
  <div id="tp_content">    
    <%= render :partial => "files_titles" %>
  </div>
</div>