<div id="tp_body">
  <div id="tp_top" class="clearfix">
    <div class="left">
      <% form_tag({}, {:id => "tp_filter", :method => :get}) do %>
      <table>
        <tr>
          <td><label for="title">Filter:</label></td>
        </tr>
        <tr>
          <td>
            <div id="tp_tb">
              <%= text_field_tag :title, list_params[:title], :autocomplete => 'off' %>
                  <script type="text/javascript">
                  new Form.Element.DelayedObserver('title', 0.4, function(element, value) {
                    when_starting();
                    new Ajax.Updater('tp_ajax_update', '/admin/tiny_paper/images', {
                      asynchronous:true,
                      evalScripts:true,
                      method:'get',
                      onComplete: function(request){when_completing()},
                      parameters: 'title=' + escape(value) + '&authenticity_token=' + encodeURIComponent('<%= form_authenticity_token %>')
                    })
                  })  
                  </script>
              <%= reset_filters_tag %>
            </div>
          </td>
          <td><img id="spinner" style="display:none" src="/images/admin/spinner.gif" alt="loading" /></td>
        </tr>
      </table>
      <% end -%>
    </div>
    <div class="right">
      <%= render :partial => "upload" %>
    </div>
  </div><!-- div tp_top -->
  <div id="tp_top_round"><div id="tp_top_round_inside"></div></div>

  <%= show_flash_message %>

  <div id="tp_bd" class="clearfix">
    <%= render :partial => "images_images" if list_params[:view] == "thumbnails" %>
    <%= render :partial => "images_titles" if list_params[:view] == "text_list" %>
  </div>
  <input type="hidden" id="type" name="type" value="files" />
</div>