<div id="tp_top" class="clearfix">
  <% form_tag({}, {:id => "tp_filter", :method => :get}) do %>
  <table>
    <tr>
      <td><label for="title">Title:</label></td>
      <td>
        <div id="tp_tb">
          <%= text_field_tag :title, list_params[:title], :autocomplete => 'off' %>
              <script type="text/javascript">
              new Form.Element.DelayedObserver('title', 0.4, function(element, value) {
                when_starting();
                new Ajax.Updater('tp_ajax_update', '/admin/tiny_paper/images', {
                  asynchronous:true,
                  evalScripts:true,
                  method:'get',
                  onComplete: function(request){when_completing()},
                  parameters: 'title=' + escape(value) + '&authenticity_token=' + encodeURIComponent('<%= form_authenticity_token %>')
                })
              })  
              </script>
          <%= reset_filters_tag %>
        </div>
      </td>
      <td><img id="spinner" style="display:none" src="/images/admin/spinner.gif" alt="loading" /></td>
    </tr>
    <tr>
      <td><label for="sort_by_title">Sort by title:</label></td>
      <td>
        <%= select_tag :sort_order, options_for_select([["Ascending", "ASC"], ["Descending", "DESC"]],list_params[:sort_order]) %>
      </td>
    </tr>
  </table>
  <% end -%>
</div><!-- div tp_top -->

<%= show_flash_message %>

<div id="tp_bd" class="clearfix">
  <div id="tp_sidebar">
    <div id="tp_view">
      <% form_tag({}, {:id => 'tp_view_mode', :method => :get}) do %>
      <table class="tp_form">
        <tr><th><label>View:</label></th></tr>
        <tr><td><%= link_to 'text list', :view => 'text_list', :page => 1 %></td></tr>
        <tr><td><%= link_to 'thumbnails', :view => 'thumbnails' %></td></tr>
      </table>
      <% end -%>
    </div>
    <div id="tp_sizes">
      <% form_tag({}, {:id => 'tp_thumbs', :method => :get}) do %>
      <table class="tp_form">
        <tr><th><label>Size:</label></th></tr>
        <% @thumbnails.each do |k,v| %>
        <tr><td><%= link_to_size(k,v) %></td></tr>
        <% end -%>
        <tr><td><%= link_to_size("original","") %></td></tr>
      </table>
      <% end -%>
    </div>
    <div id="tp_upload">
      <% form_for :asset, :url => {:controller => 'admin/tiny_paper', :action => 'create'}, :html => { :method => "post", :multipart => true } do |f| %>
      <table class="tp_form">
        <tr><th><label>Upload</label></th></tr>
        <tr><td><label for="title">Title:</label></td></tr>
        <tr><td><%= f.text_field :title %></td></tr>
        <tr><td><label for="asset">Choose a file to upload:</label></td></tr>
        <tr><td><%= f.file_field :asset, :size => 10 %></td></tr>
        <tr><td><input type="submit" value="Upload" /></td></tr>
      </table>
      <% end -%>
    </div>
  </div>

  <div id="tp_content">    
    <%= render :partial => "asset_images" if list_params[:view] == "thumbnails" %>
    <%= render :partial => "asset_titles" if list_params[:view] == "text_list" %>
  </div>
</div>